html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* LIGHT MODE (default) */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* DARK MODE (FORCED) */
body.dark-theme {
  background-color: black;
  color: white;
}
